
.ngpscontainer {
    background-color: rgb(59, 52, 52);
    color: white;
    overflow: auto;
}
.optioncontainer {
    margin-left: 45px;
    margin-right: 20px;
}
.optcons {
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
}
.optiongroup {
    margin-left: 40px;
    margin-top: 2px;

}
.optiongroupcontainer {
    margin-left: 30px;
    font-weight: normal;
}
.attrnames {
    margin-left: 10px;
}
#optionsright {
    float: right;
}
#rtdiv {
    margin: 20px;
    color: black;
}
#rtvstationtable {  
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
#rtvheaderborder {
    padding-left: 1px;
    background-color: #e5edf8;
}
.lmp6 {
    background-color: #eb3017;
    color: #000000;
}
.lmp5 {
    background-color: #ff9205;
    color: #000000;
}
.lmp4 {
    background-color: #fffb05; 
    color: #000000;
}
.lmp3 {
    background-color: #bce018; 
    color: #000000;    
}
.lmp2 {
    background-color:  #22ff05;
    color: #000000;
}
.lmp1 {
    background-color: #2b9b56;
    color: #000000;
}

/* zones*/
.west {
    background-color: #454140;
    color: #ffffff;
}
.east {
    background-color: #686256;
    color: #ffffff;
}
.north {
    background-color: #224747;
    color: #ffffff;
}
.central {
    background-color: #587e76;
}
.south {
    background-color: #7a3b2e;
}

/* types */
.solar {
    background-color: #feb236;
    color: #000000;
}
.nuclear {
    background-color: #db6b21;
    color: #000000;
}
.wind {
    background-color: #a2b9bc;
    color: #000000;
}
.hydro {
    background-color: #7964ad;
    color: #000000;
}
.coal {
    background-color: #5e7474;
    color: #000000;
}
.defaultunit {
    background-color: #b2ad7f;
    color: #000000;
}
.wzcontainer {
    margin: 0px;
    padding: 0px;
}
.wzcontainergridster {
    /*border: 1px #a2b9bc; */
    margin: 0px;
    padding-right: 1px;
    -webkit-column-gap: 1px; /* Chrome, Safari, Opera */
    -moz-column-gap: 1px; /* Firefox */
    column-gap: 1px;
}
.lgdcontainer {
    margin-left: 90px;
    margin-bottom: 20px;
    columns: 3;
}
.legendstation {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid
}
.lgddesc {
    font-weight: bold;
}
.legendunit {
    width: 150px;
    padding: 5px;
}
.startup {
    border: 3px solid #37ec64;
}
.shutdown {
    border: 3px solid #c43328b0;
}
.lowmw {
    opacity: .5;
    border: 3px solid #5e7474;
}
.accordionddopen {
    content: '\002B';
    margin-left: 0px;
    color: #ffffff;
}
.accordiondd {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s ease-out;
}
.accordionddcontent {
    list-style: none;
    text-align: center;
    margin-left: -35px;
    color: #000000;
}



