
.ngpscontainer {
    background-color: rgb(59, 52, 52);
    color: white;
}
.optioncontainer {
    margin-left: 50px;
}
.optiongroup {
    margin-left: 40px;
    margin-top: 2px;

}
.optiongroupcontainer {
    margin-left: 30px;
    font-weight: normal;
}
.attrnames {
    margin-left: 10px;
}
#optionsright {
    float: right;
}
#rtdiv {
    margin: 20px;
}
#rtvstationtable {  
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
#rtvheaderborder {
    padding-left: 1px;
    background-color: #e5edf8;
}

/* zones*/
.west {
    background-color: #563f46;
}
.east {
    background-color: #8ca3a3;
}
.north {
    background-color: #484f4f;
}
.central {
    background-color: #e0e2e4;
}
.south {
    background-color: #c6bcb6;
}
/* .south {
    background-color: #96897f;
} */
/* .south_east {
    background-color: #625750;
} */

/* types */
.solar {
    background-color: #feb236;
}
.nuclear {
    background-color: #ff7b25;
}
.wind {
    background-color: #a2b9bc;
}
.hydro {
    background-color: #6b5b95;
}
.coal {
    background-color: #5e7474;
}
.defaultunit {
    background-color: #b2ad7f;
}
.wzcontainer {
    margin: 0px;
    padding: 0px;
}
.wzcontainergridster {
    border: 1px #a2b9bc;
    margin: 0px;
    padding: 0px;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}
.lgdcontainer {
    margin-left: 90px;
    margin-bottom: 20px;
    columns: 3;
}
.legendstation {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid
}
.lgddesc {
    font-weight: bold;
}
.legendunit {
    width: 150px;
    padding: 5px;
}
.startup {
    border: 3px solid #37ec64;
}
.shutdown {
    border: 3px solid #c43328b0;
}
.lowmw {
    opacity: .5;
    border: 3px solid #5e7474;
}



