<div>
    <table id="rtvstationtable" style="border: 1px solid grey; margin-bottom: 1px" >
        <thead>
        <tr><th id="rtvstationheader" style="font-weight: normal; width: 100px; max-width: 100px">
        <div id="rtvheaderborder">
         {{ $ctrl.station.stationName }} 
        </div>
        </th></tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="unit in $ctrl.station.units">
              <td ng-class="$ctrl.bgclass"
                  style="height: 18px; padding-left: 7px; padding-right: 5px; width: 100px; max-width: 100px;">
                <div style="float: left">{{ unit.Name }}</div>
                <div style="float: right">{{ unit.attributes.MW }}</div>
              </td>
            </tr>
            
        </tbody>
        </table> 
</div>