<div ng-if="$ctrl.db.includeStation($ctrl.station)">
    <table id="rtvstationtable" style="border: 1px solid grey; margin-bottom: 1px" >
        <thead>
        <tr><th id="rtvstationheader" style="font-weight: normal; width: 100px; max-width: 100px">
        <div id="rtvheaderborder">
         {{ $ctrl.station.stationName }} 
        </div>
        </th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="unit in $ctrl.db.filteredUnits($ctrl.station.units)" ng-if="$ctrl.db.isFilterMatch(unit)">
              <td ng-class="{ lmp6: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP >= 1000,
                              lmp5: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP > 800 && unit.attributes.LMP <= 1000,
                              lmp4: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP > 600 && unit.attributes.LMP <= 800,
                              lmp3: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP > 400 && unit.attributes.LMP <= 600,
                              lmp2: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP > 200 && unit.attributes.LMP <= 400,
                              lmp1: $ctrl.scheme == 'lmpscheme' && unit.attributes.LMP >= 0 && unit.attributes.LMP <= 200,
                              solar: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Solar',
                              hydro: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Hydro',
                              wind: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Wind',
                              coal: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Coal',
                              nuclear: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Nuclear',
                              defaultunit: $ctrl.scheme == 'unitscheme' && $ctrl.station.category == 'Thermal',
                              north: $ctrl.scheme == 'wzscheme' && $ctrl.station.weatherZone == 'NORTH',
                              south: $ctrl.scheme == 'wzscheme' && $ctrl.station.weatherZone == 'SOUTH',
                              east: $ctrl.scheme == 'wzscheme' && $ctrl.station.weatherZone == 'EAST',
                              west: $ctrl.scheme == 'wzscheme' && $ctrl.station.weatherZone == 'WEST',
                              central: $ctrl.scheme == 'wzscheme' && $ctrl.station.weatherZone == 'CENTRAL'
                            }"  
                  style="font-size: 10px;height: 18px; padding-left: 7px; padding-right: 5px; width: 100px; max-width: 100px;">
                
                <a ng-init="id=$ctrl.station.stationName + unit.Name;aid='accordiondd' + $ctrl.station.stationName + unit.Name" 
                   id="{{aid}}" role="button" 
                   ng-click="$ctrl.db.toggleChildren(id,$ctrl.station.weatherZone,false)" classname="accordiondd"
                   uib-tooltip-template="'stationTooltipTemplate.html'">
                  <div style="color: #000000;">
                  <div style="float: left">{{ unit.Name }}</div>
                  <div style="float: right">{{ $ctrl.db.getUnitVal(unit,true,$ctrl.tag) }}</div>
                  </div>
                </a>
                
                <div id="{{id}}" style="display: none">
                  <p> 
                  <ul class="accordionddcontent"><li></li><li>{{ unit.attributes.RST }} </li>
                  </ul>
                  </p>
                </div>
                  
              </td>
            </tr>
            
        </tbody>
        </table> 
</div>

<script type="text/ng-template" id="stationTooltipTemplate.html">
  <table style="border: 1px solid grey">
    <thead>
    <tr><th style="font-weight: normal; width: 180px; max-width: 300px;padding-top: 10px;padding-bottom: 10px;margin-top: 10px">
      <div style="text-align: center">{{ $ctrl.station.stationName }}</div>
      <div style="text-align: center">{{ unit.Name }} </div>
    </th></tr>
    </thead>
    <tbody>
      <tr>
        <td style="float: left;padding-left: 5px;">Status: </td><td style="float: right;padding-right: 5px">{{ unit.attributes.RST }}</td>
      </tr>
      <tr>
        <td style="float: left;padding-left: 5px;">Weather Zone: </td><td style="float: right;padding-right: 5px">{{ $ctrl.station.weatherZone }}</td>
      </tr>
      <tr>
        <td style="float: left;padding-left: 5px; padding-bottom: 10px;">Fuel Type: </td><td style="float: right;padding-right: 5px">{{ $ctrl.station.category }}</td>
      </tr>
    </tbody>
    </table>

      
</script>